*{
    font-family: 'Manrope', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(217, 19%, 24%);
    color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: fit-content;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    text-align: center;
}
.card img{
    margin-bottom: 1rem;
}
.card #advice-id{
    color:  hsl(150, 100%, 66%);
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 3px;
    font-size: 0.75rem;
    font-weight: 700;
}
.card #advice{
    margin: auto;
    padding: 1.5rem 0;
    max-width: 420px;
    transition: color .5s ease-in-out;
}

.card #shuffle{
    padding: 1rem;
    background-color: hsl(150, 100%, 66%);
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: -1.8rem;
    left: calc(50% - 1.8rem);
    cursor: pointer;
}
.card #shuffle:active{
    transform: scale(1.1);
}


.attribution{
    font-size: 12px; text-align: center; 
    position: absolute;
    bottom: 12px;
    color: #ccc;
}
.attribution a { color: hsl(189, 100%, 46%); }

@media (max-width: 600px) {
   
    .card{
        padding: 2rem 1rem;
        width: 300px;
    }
   

}